
/* infowindow */

.place {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px 0;

}

.placeTitle,
.placeContact,
.placePhone {
  margin: 0 0 0 10px;
}

.placeData {
  font-style: italic;
  margin: 0 0 0 10px;
}

.placePrice {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 10px 10px;
}

.placePhone {
  color: #3e3e3e;
  font-weight: bold;
  text-decoration: none;
}

.placeContact,
.placeData,
.placeTip,
.placePhone {
  font-size: 14px;
}

.placeTip {
  font-style: italic;
}

.placeLink {
  color: #000000;
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin: 20px 0 0 10px;
  padding: 10px;
  text-align: right;
  text-decoration: none;
}

.placeLink:hover,
.placePhone:hover {
  color: #FFB81C;
}

.fsIcon{
  height: 30px;
  vertical-align: middle;
}

.venueError {
  color: #000000;
  text-align: center;
}
